* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: royalblue;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 4px 0px;
}

.nav .time {
  color: white;
  font-weight: 550;
}

.app-container {
  width: 64px;
  height: 64px;
  border-radius: 20%;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px 16px;
  cursor: pointer;
}

.app-container:hover {
  border: solid gray;
}

.app-name {
  font-size: small;
}

.unVisible {
  display: none;
}
