* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#app {
  background-color: royalblue;
  width: 400px;
  height: 600px;
  border-radius: 5%;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 4px 0px;
}

.nav .time {
  color: white;
  font-weight: 550;
}

.app-container {
  width: 64px;
  height: 64px;
  border-radius: 20%;
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px 16px;
  cursor: pointer;
}

.app-container:hover {
  border: solid gray;
}

.app-name {
  font-size: small;
}

.unVisible {
  display: none;
}

.memo-input {
  width: 100%;
}

.memo-container {
  background-color: white;
  margin-top: 4px;
  cursor: pointer;
}

.memo-text {
  color: black;
  font-weight: 500;
}

.memo-hidden {
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-height: 1.2em;
  height: 2.4em;
}
